/* == Typography ================================================= */

@font-face {
    font-family: Lato-Black;
    src: url("../fonts/lato/Lato-Black.eot");
    src: url("../fonts/lato/Lato-Black.svg");
    src: url("../fonts/lato/Lato-Black.ttf");
    src: url("../fonts/lato/Lato-Black.woff");
}

@font-face {
    font-family: Lato-Bold;
    src: url("../fonts/lato/Lato-Bold.eot");
    src: url("../fonts/lato/Lato-Bold.svg");
    src: url("../fonts/lato/Lato-Bold.ttf");
    src: url("../fonts/lato/Lato-Bold.woff");
}

@font-face {
    font-family: Lato-Light;
    src: url("../fonts/lato/Lato-Light.eot");
    src: url("../fonts/lato/Lato-Light.svg");
    src: url("../fonts/lato/Lato-Light.ttf");
    src: url("../fonts/lato/Lato-Light.woff");
}

@font-face {
    font-family: Lato-Reg;
    src: url("../fonts/lato/Lato-Reg.eot");
    src: url("../fonts/lato/Lato-Reg.svg");
    src: url("../fonts/lato/Lato-Reg.ttf");
    src: url("../fonts/lato/Lato-Reg.woff");
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/font-awesome/fontawesome-webfont.eot?v=4.4.0");
  src: url("../fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("../fonts/font-awesome/fontawesome-webfont.woff2?v=4.4.0") format("woff2"), url("../fonts/font-awesome/fontawesome-webfont.woff?v=4.4.0") format("woff"), url("../fonts/font-awesome/fontawesome-webfont.ttf?v=4.4.0") format("truetype"), url("../fonts/font-awesome/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* == Basic Elements ============================================= */

body {
	font-family: Lato-Reg;
	min-width: 1024px;
}

/* == Inline Elements ============================================ */

a {
	color: #2b3d51;
}

/* == Block Elements ============================================= */

input[type="submit"], input[type="button"], button, .btn {
	background-color: #fafafa;
	color:#2b3d51;
}

input[type="submit"]:hover, input[type="button"]:hover, button:hover, .btn:hover {
	background-color: #637a90;
	color:#fafafa;
}

/* == Custom Elements ============================================ */

h1.title {
	color: white;
	text-align: center;
}

.frm-split .btn {
	width:126px; 
	height: 1.3em;
	line-height:1.1em;
}

.file-selector-legacy .btn{
	height: 1.8em;
	line-height:1.8em;
}

.frm-split input[type="submit"] {
	width:150px; 
}

/* == Main Sidebar == */

#sidebar {
    font-size: 0.9em;
}

.sidebar, .sidebar-back {
	background-color: #f2f2f2;
	color: #2b3d51;
	box-sizing: border-box;
	border-right: 1px solid #c8cccf;
	padding-top: 100px;
}

.sidebar .collapsible-tab {
	width: 100%;
    border-bottom: 1px solid #d3d3d3;
	 border-top: 1px solid #ffffff;
}

.sidebar .collapsible-tab.active {
	width: 98%;	
	border-right: 4px solid #2b3d51;
}

.sidebar .collapsible-tab.active .collapsible-tab-header, .sidebar .collapsible-tab.pactive .collapsible-tab-header {
	background-color: #d9dce0;
	font-family: Lato-Bold;
}

.sidebar .collapsible-tab.active .active {
	font-family: Lato-Bold;
	font-size:1.2em;
}

.sidebar .collapsible-tab-header {
	cursor: pointer;
	height: 50px;
	line-height: 50px;
}

.sidebar .collapsible-tab-header:hover {
	background-color: #d9dce0;
}

.sidebar .collapsible-tab-header a {
	display: block;
	height: 50px;
	line-height: 50px;
	cursor: pointer;
	color: #2b3d51;
}

.sidebar .collapsible-tab-header .colf4 {
	text-align: center;
}

.sidebar .collapsible-tab-content {
	padding-left: 35%;
	display: none;
    -moz-box-shadow:inset 0px 0px 2px #909090;
    -webkit-box-shadow:inset 0px 0px 2px #909090;
    box-shadow:inset 0px 0px 2px #909090;
}

.sidebar .collapsible-tab-content ul li {
	width: 100%;
	text-align: left;
}

.sidebar .collapsible-tab-content ul li a {
	color: #4f5e7f;
    font-size: 0.8em;
    line-height: 25px;
	width:95%;
	display:block;
	padding-left:5%;
}

.sidebar .collapsible-tab-content ul li a:hover{
	background-color:#d9dce0;
}


/* == Data Grid ================================================= */

.data-grid {
	padding: 10px;
}

/* == Pagination == */

.data-grid .pagination {
    float: right;
}

.data-grid .pagination, .data-grid .pagination li {
	display: inline-block;
	list-style: none;
}

.data-grid .pagination li {
    margin: 0 2px;
    font-size: 1em;
    line-heigh: 1em;
}

.data-grid .pagination .prev, .data-grid .pagination .next, .data-grid .pagination li a{
    color: #ffffff;
 	text-decoration: none;
	height: 1.6em;
	background-color:#637a90;
	-webkit-transition: all 0.30s ease-in-out;
  	   -moz-transition: all 0.30s ease-in-out;
  		-ms-transition: all 0.30s ease-in-out;
  		 -o-transition: all 0.30s ease-in-out;
}

.data-grid .pagination li a{
    padding: 2px 8px;
}

.data-grid .pagination .disabled span, .data-grid .pagination .disabled span:hover {
	background-color: gray;
    padding: 2px 8px;
	height: 1.6em;	
}

.data-grid .pagination .disabled span{
	line-height:1.6em;
}


.data-grid .pagination .active, .data-grid .pagination .active a, .data-grid .pagination li a:hover, .data-grid .pagination .next:hover, .data-grid .pagination .prev:hover{
	background-color:#2b3d51;
	color: #ffffff;
	-moz-transition: 0.5s;
}


/* == Header == */

.data-grid .grid-header, .data-grid .grid-footer {	
	height: 24px;
	line-height:24px;
	background-color: #d9dce0;
	padding: 10px;
	color:#2b3d51;
	border-bottom:1px solid #aaa;
}

/* == Grid == */

.data-grid .wrap-grid table {
	width: 100%;
	text-align: left;
	margin: 10px 0px;
	border: 1px solid #637a90;
	background-color:#f2f2f2;
	color:#637a90;
}

.data-grid .wrap-grid th {
	background-color: #637a90;
	padding: 12px 0px;
	color: white;
	font-size: 0.8em;
}

.data-grid .wrap-grid th:nth-child(1), .data-grid .wrap-grid td:nth-child(1) {
	padding: 5px;
	padding-left:20px;
}

.data-grid .wrap-grid tbody tr {
	-webkit-transition: all 0.30s ease-in-out;
  	   -moz-transition: all 0.30s ease-in-out;
  		-ms-transition: all 0.30s ease-in-out;
  		 -o-transition: all 0.30s ease-in-out;
}

.data-grid .wrap-grid tbody tr:nth-child(even) {
	background-color: #ffffff;
}

.data-grid .wrap-grid tbody tr:hover {
	background-color: #d9dce0;
}

.data-grid .wrap-grid tbody td {
	font-size: 0.8em;
	padding: 4px 0px;
}

.data-grid .wrap-grid tbody td .avatar {
	width: 40px;
}

/* == Footer == */

.data-grid .grid-footer .text {
	float: left;
	margin: 5px;
}

/* == Site CSS =================================================== */

.site-error {
	padding-top: 100px;	
}

.error {
	width: 100%;
	font-size: 0.8em;
	color: red;	
}

/* == Icons == */

/* Sidebar Icons */

.icon-sidebar {
	background: url(../images/icons/icon-set-sidebar.png) 0px 0px no-repeat;
	display: inline-block;
    height: 20px;
    width: 20px;
}

.icon-dashboard {
	background-position: 0px -20px;
}

.icon-user {
	background-position: -20px -20px;
}

.icon-cart {
	background-position: -60px -20px;
}

.icon-product {
	background-position: -80px -20px;
}

.icon-rbac {
	background-position: -100px -20px;
}

.icon-slider {
	background-position: -120px -20px;
}

.icon-post {
	background-position: -140px -20px;
}

.icon-newsletter {
	background-position: -160px -20px;
}

.icon-settings {
	background-position: -180px -20px;
}

.icon-cms {
	background-position: -200px -20px;
}

.icon-power {
	background-position: -219px -20px;
}

.box-icon-sort {
	width: 16px;
	height: 32px;
	display: inline-block;
	position: relative;
}

.icon-sort {
	width: 12px;
	height: 12px;
	position: absolute;
	display: inline-block;
	background: url(../images/icons/icon-set-sort.png) no-repeat 0 0;
	cursor: pointer;
}

.icon-up {
	
}

.icon-up-active {
	background-position: -12px 0;
}

.icon-down, .icon-down-active {
	margin-top: 16px;
	background-position: 0 -12px;
}

.icon-down-active {
	background-position: -12px -12px;
}

/* Data Grid Icons */

.wrap-icon-action {
	width: 24px;
	height: 24px;
	border-radius: 17px;
	text-align:center;
	display: inline-block;	
	cursor: pointer;
	border:1px solid #637a90;
	margin: 5px 0;
}

.wrap-icon-action:hover {
	background-color: #637a90;
}

.icon-action {
	background: url(../images/icons/icon-set-actions.png) 0 0 no-repeat;
	width: 24px;
	height: 24px;
	display: inline-block;
}

.icon-action-edit{
	background-position: 0px 0px;
}

.icon-action-edit:hover {
	background-position: 0px -24px;
}

.icon-action-delete {
	background-position: -24px 0px;
}

.icon-action-delete:hover {
	background-position: -24px -24px;
}

.icon-action-view {
	background-position: -72px 0px;
}

.icon-action-view:hover {
	background-position: -72px -24px;
}

.icon-action-save {
	background-position: -144px 0px;
}

.icon-action-save:hover {
	background-position: -144px -24px;
}

/* == Headers =============================== */

.header-public {
    text-align: center;
}

.breadcrumbs {
	width: 100%;
	height: 1.5em;
	background-color: #f9f9f9;
	border-bottom: 1px solid #c8cccf;
}

/* == containers and content ================= */

/* == Container and Wrapper == */

.container h1 {
	text-align: center;
}

.container-content {
	height: 100%;
}

.wrap-content {
	padding-top: 80px;
	padding-bottom: 40px;
	width: 86%;
}

.wrap-content-full {
	width: 100%;
}

/* == Content Header == */

.content-header {
	padding: 20px 10px;
}

.content-header .header-actions {
	float: left;
}

.content-header .header-actions .btn {
	width: 120px;
	height: 2.2em;
	line-height: 2.2em;
	display: inpine-block;
	margin:0;
}

.content-header .header-search {
	float: right;
	width: 310px;
	text-align: right;
}

.content-header .header-search form {
	margin: 0px;
	padding:0;
}

.content-header .header-search input {
	width: 120px;
	display: inpine-block;
}

.content-header .header-search input[type="submit"] {
	height: 2.2em;
	float:left;
	margin:0;
	font-family:Lato-Reg;
}

.content-header .header-search input[type="text"] {
	height: 1.7em;
	width: 180px;
	float:left;
	margin:0;
	color:#4f5e7f;
	font-family:Lato-Reg;
	border-top: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	border-right:none;
}

/* == creat-update-delete box == */

.cud-box {
	width: 50%;
	-moz-box-shadow: 0 0 4px 2px #ccc;
	-webkit-box-shadow: 0 0 4px 2px #ccc;
	box-shadow: 0 0 4px 2px #ccc;
}

.cud-box h1, .cud-box h2, .cud-box h4 {
	background-color: #637a90;
    color: white;
    text-align: center;
    margin: 0;
	padding:10px auto;	
}

.cud-box h4 {
	margin: 1em 0;
}

.cud-box .box-half {
	width: 45%;
	display: inline-block;	
	text-align: left;
	float: left;
	padding-left: 5%;
	color:#2b3d51;
}

.cud-box .box-half input[type="checkbox"] {
	display: inline;
	width: auto;
	margin-right: 1em;
}

.cud-box .box-filler {
	clear: both;
	padding-top: 2em;
	width:100%;
}

.cud-box.wrap-login-box {
	margin-top: 5em;
}

.cud-box .content-editor {
	width: 95%;
}

.help-block{
	color:red;
	margin-left:45%;
	text-align:left;
	font-style:italic;
	font-size:0.9em;
}

/* ** Input Fields ********************************************* */

input {
	font-family:Lato-Reg;
	padding:4px 1%;
	
}

.frm-split label {
	color:#2b3d51;
}

.form-group.field-sidebar-sidebar_active > label, .field-slider-slider_full_page label, .field-slider-slider_scroll_auto label, .field-slider-slider_scroll_manual label, .field-slider-slider_circular label, .field-user-user_newsletter label{
    margin-left: 45%;
    text-align: left;
    width: 55%;
}

input[type="text"], input[type="email"], input[type="password"], textarea, select{
	background-color: #ffffff;
	color:#637a90;
	width: 97%;
	padding: 1%;
	margin: 10px 0.5%;
	outline: none;
	border: 1px solid #d3d3d3;
	box-shadow: none;
	font-size: 1em;
	line-height: 1em;
	font-family:Lato-Reg;

	-webkit-transition: all 0.30s ease-in-out;
  	   -moz-transition: all 0.30s ease-in-out;
  		-ms-transition: all 0.30s ease-in-out;
  		 -o-transition: all 0.30s ease-in-out;
}

option {
	padding:1% 2%;;
}


/* == Slider Slides == */

.slider-slides {
	width: 100%;
}

.slider-slides li {
	list-style: none;
	float: left;
	width: 47.5%;
	margin: 1%;
	border: 1px solid #C0C0C0;
}

/* == Category  ================================================= */

.category-add-btn {
	cursor:pointer;
}

/* ===  Category  Popup == */
.category-popup-wrapper {
	display:none;
	background-color:rgba( 0,0,0, 0.9);
	position:absolute;
	width:100%;
	height:100%;
	z-index:1500;
	top:0px;
	left:0px;
	font-family:Lato-Reg;
	color:#454545;
}

.category-popup-wrapper .popup-main {
	width:35%;
	margin:150px auto;
	padding:40px;
	min-height:250px;
	background-color:#FFFFFF;
	position:relative;
	border-radius:5px;
	text-align:center;
}

.category-popup-wrapper .popup-main form ul li label {
	width:40%;
	float:left;
	font-size:14px;
	margin:10px;
	text-align:left;
}

.category-popup-wrapper .popup-main form ul li input[type='text'], .category-popup-wrapper .popup-main form ul li textarea {
	width:50%;
	float:right;
}

.category-popup-wrapper .popup-main span.form-error {
	width:52%;
	float:right;
	text-align:left;
}

.category-popup-wrapper .popup-main form ul li input[type='button'] {
	width:30%;
	margin:20px auto;
}

.close-icon {
	width:30px;
	height:30px;
	position:absolute;
	right:-10px;
	top:-10px;
	margin:20px;
	background: url(../images/icons/close.png) 0 0 no-repeat;
	cursor:pointer;
}

.close-icon:hover {
	background-position:0px -30px;
}

div.frm-message {
	color:#d60000;
}

/* ===========  Setings  ==================================*/

.settings-core-view input[type="submit"] {
	width: 100px;	
}

ul.settings-tab-wrapper {
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

ul.settings-tab-wrapper li {
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-family: Lato-Reg;
    font-size: 15.16px;
    height: 35px;
    line-height: 35px;
    margin-right: 20px;
    padding: 0;
    width: 90px;
}

ul.settings-tab-wrapper li a {
	display:block;
	width:100%;
	height:100%;
}

ul.settings-tab-wrapper li.active {
	background-color:#2B3D51;
}

ul.settings-tab-wrapper li.active a {
	color:#FFFFFF;
}

.settings-wrapper .grid-header  {
	height:45px;
}

.settings-title-wrapper {
    text-align: center;
}

div.setting-updatebtn-wrapper {
    float: right;
    text-align: center;
}

.settings-title-wrapper h1 {
	float: left;
	font-family: Lato-Reg;
    font-size: 22px;
    font-weight: normal;
    margin: 20px auto;
    width: 80%;
}


div.settings-title-wrapper input[type="button"] {
    height: 34px;
    line-height: 34px;
    margin: 35px auto;
    padding: 0;
    text-align: center;
    width: 170px;
}

ul.view-setting-ul {
    margin: 0 auto;
    width: 700px;
}

div.settings-core-view label {
	font-family: Lato-Reg;
    text-transform: capitalize;
    width: 250px;
    font-weight:bold;
}

form.frm-settings {
    margin: 0 auto;
    width: 700px;
    padding:0px;
}

div.settings-core-view label {
	font-family: Lato-Reg;
    text-transform: capitalize;
    width: 250px;
}

div.settings-core-view span input[type="text"], div.settings-core-view span input[type="password"] {
    width: 280px;
}

.icon-action-save {
	background-color: #BDBDBD;
    background-position: -144px 0;
    border-radius: 20px;
}

.icon-action-save:hover {
	background-color: #BDBDBD;
}

/* Media Queries */

@media only screen and (min-width: 1280px) {
	
	/* creat-update-delete box */
	.cud-box {
		width: 85%;
	}
}

@media only screen and (min-width: 768px) {

	.social-icons {
	    float: right;
	}

	/* creat-update-delete box */
	.cud-box {
		width: 90%;
		margin: 0px auto;
	}
	
	.cud-box.wrap-login-box {
		width: 30%;
	}
}

@media only screen and (min-width: 1320px) {

	/* creat-update-delete box */
	.cud-box {
		width: 60%;
	}	
}





.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
  background: none repeat scroll 0 0 #E74343;
  color: #FFFFFF;
  width: 250px;
}

.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all a {
  color: #FFFFFF;
  margin: 0 3px;
}

.ui-datepicker-next {
  float: right;
}

.ui-datepicker-next:after {
  content: ">>";
}

.ui-datepicker-prev:after {
  content: "<<";
}

.ui-datepicker-header .ui-icon {
  display: none;
}

.ui-datepicker-header {
  background: none repeat scroll 0 0 #363636;
  height: 31px;
  padding-top: 8px;
}

.ui-datepicker-title {
  text-align: center;
  position: relative;
  z-index: 5;
  top: -10px;
}

.ui-datepicker-next, .ui-datepicker-prev {
  position: relative;
  z-index: 50;
}

.ui-datepicker-calendar td {
  padding: 4px;
}

.ui-state-default {
  display: inline-block;
  height: 22px;
  width: 22px;
  line-height: 22px;
  text-align: center;
}

.ui-state-disabled span {
  background-color: #ebebeb;
  color: #9e9e9e;
}

@media only screen and (min-width: 481px) {
  .ui-datepicker-title {
    top: -14px;
  }
}
@media only screen and (min-width: 1025px) {
  .ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
    width: 275px;
  }

  .ui-datepicker-title {
    top: -18px;
  }

  .ui-datepicker-calendar td {
    padding: 6px;
  }
}