// == Mapper - Auto - Categories ====

.mapper-auto-categories {

	.mapper-items {

		.mapper-item {
			padding-right: 2.5em;
			margin-bottom: 0.5em;

			.mapper-item-remove {

			}
		}
	}

	.spinner {
		position: absolute;
		top: 0.25em;
		right: 0.25em;
		z-index: 1;
		background: $color-primary-d;
		color: $color-primary-text-d;
		padding: 0.25em;
	}
}

// == Mapper - Submit - Tags ========

.mapper-submit-tags {

	.mapper-items {

		.mapper-item {
			padding-right: 2.5em;
			margin-bottom: 0.5em;

			.mapper-item-remove {

			}
		}
	}

	.spinner {
		position: absolute;
		top: 0.25em;
		right: 0.25em;
		z-index: 1;
		background: $color-primary-d;
		color: $color-primary-text-d;
		padding: 0.25em;
	}
}
