.select-wrap {

	.select {

		.selected {
			@include rounded( $size-medium );
			padding: 0.5em;
			line-height: 1.75em;

			.s-icon {
				padding: 0.5em;
			}
		}

		.select-list li {
			padding: 0.5em;
		}
	}
}
