/* == Main Containers ========================================= */

body, html {
	height: 100%;
}

.container-main, .container-content {
	height: 100%;
	width: 100%;
	position: relative;	
}

/* == Responsive Header ======================================= */

.header {
	background-color: #2b3d51;
    height: 80px;
    border-bottom: 1px solid #c8cccf;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
}

.header .logo {
    cursor: pointer;
    margin: 10px;
    display: none;
}

.header .logo-small {
    cursor: pointer;
    margin: 5px;
}

.header-private .content-profile {
	background-color: #d9dce0;
	height: 80px;
	position: relative;
	color: #4f5e7f;
}

.header-private .content-profile .wrap-avatar {
    position: absolute;
	top: 0;
    left: 0;
    width: 26%;
    height: 70px;
    text-align: center;
	margin-top: 10px;
}

.header-private .content-profile .wrap-avatar img {
	margin: 5px;
    width: 55px;
}

.header-private .content-profile .profile-details {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 66%;
    margin: 4% 2%;
	padding-left: 30%;
}

.header-private .content-profile ul, .header .content-profile li {
	width: 100%;
	text-align: right;
	font-size: 0.9em;
}

.header-private .header-content {
	background-color: #2b3d51;
}

@media only screen and (min-width: 768px) {

	.header .logo {
		display:inline-block;
	}
	
	.header .logo-small {
		display:none;
	}
}

/* == Page Banner =============================================== */

.banner-page figure {
	padding-top: 50%;
	background-size: cover;
	-moz-background-size: cover;
	background-position: center;
}

@media only screen and (min-width: 0px) {

	.banner-page figure {
    	background-image: url(../../assets/images/small/header.jpg);   	
	}
}

@media only screen and (min-width: 768px) {

	.banner-page {
		padding-top: 80px;
	}

	.banner-page figure {
    	background-image: url(../../assets/images/medium/header.jpg);
	}
}

@media only screen and (min-width: 1280px) {

	.banner-page figure {
    	background-image: url(../../assets/images/large/header.jpg);
	}
}

@media only screen and (min-width: 1320px) {

	.banner-page figure {
    	background-image: url(../../assets/images/xlarge/header.jpg);
	}
}

/* == Responsive Footer ========================================= */

.footer {
	background-color:#2b3d51;
	color:#FFFFFF;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
}

.footer .col {
	background-color:#2b3d51;
	color:#FFFFFF;
	text-align: center;
}

.footer p {
	font-size: 0.8em;
	margin-top: 14px;
	text-align:center;
}

/*== Pop Up ===================================================== */

.popup {
    display:none; 
    background:#FFFFFF;
    border:2px solid gray; 
    -moz-box-shadow: 0 0 5px black;
    -webkit-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    border-radius: 12px; 
}

.popup-title {
	width: 100%;
	background-color: #669933;
	color: white;
	font-weight: bold;	
	font-size: 1.1em;
	height: 30px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.popup-title-text {
	padding-left: 10px;
}

.popup-elements {
	padding: 10px;
}

.popup-elements ul {
	padding: 0px;
}

.popup-small { 
    height:200px;  
    width:400px;  
}

.popup-medium { 
    height:300px;  
    width:600px;  
}

.popup-large { 
    height:400px;  
    width:800px;  
}

.close-popup {
    font-size:20px; 
    right:0px;  
    top:3px;  
    position:absolute;  
    color:#6fa5e2;  
    font-weight:500;
    width: 25px;
    height: 25px; 
    background-image: url( ../../images/icons/close.png );
    background-size: cover;
}

/*== Spinners ===================================================== */

.spinner {
    position: relative;	
    left: 50%;
    top: -20px;
}