.file-uploader {
  position: relative;
}
.file-uploader .postview {
  position: relative;
  margin: 0 auto;
}
.file-uploader .postview .wrap-image {
  text-align: center;
  padding: 1em;
}
.file-uploader .postview .wrap-image .cmt-icon {
  font-size: 10em;
}
.file-uploader .postview .btn-show-chooser {
  position: absolute;
  top: 0;
  right: 0;
}
.file-uploader .wrap-chooser {
  display: none;
}
.file-uploader .chooser {
  overflow: hidden;
  position: relative;
}
.file-uploader .chooser input[type="file"] {
  opacity: 0;
  cursor: pointer !important;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.file-uploader .preview {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.file-uploader .preview .wrap-drag {
  position: relative;
  margin: 0 auto;
  width: 120px;
  height: 120px;
}
.file-uploader .preview .wrap-drag .drag {
  background-color: #f2f2f2;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 120px;
  height: 120px;
  z-index: 10;
  text-align: center;
  line-height: 120px;
}
.file-uploader .preview .wrap-drag .drag.hover {
  background-color: #3c4655;
  color: #e6e6e6;
}
.file-uploader .preview .wrap-drag canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 120px;
  height: 120px;
  z-index: 50;
  display: none;
}
.file-uploader .preloader {
  padding-top: 10px;
}
.file-uploader .preloader .preloader-bar {
  background-color: #3c4655;
  width: 0%;
  height: 10px;
}
.file-uploader .post-action {
  display: none;
}
.file-uploader .fields {
  position: relative;
}