.upd-count {

    &.upd-count-rounded {
		position: absolute;
		top: 16px;
		right: 10px;
		line-height: 1em !important;
		background: $color-tertiary-d;
		color: $color-tertiary-text-d;
		border-radius: $size-medium;
        margin-left: $size-medium;
        padding: $size-small;
		font-size: $font-size-8;
    }

    &.upd-count-0 {
        display: none;
    }
}
