@font-face {
    font-family: cmti-core;
    src: url("../fonts/cmgtools/cmti-core.eot");
    src: url("../fonts/cmgtools/cmti-core.svg");
    src: url("../fonts/cmgtools/cmti-core.ttf");
    src: url("../fonts/cmgtools/cmti-core.woff");
}

@font-face {
    font-family: lato-black;
    src: url("../fonts/lato/Lato-Black.eot");
    src: url("../fonts/lato/Lato-Black.svg");
    src: url("../fonts/lato/Lato-Black.ttf");
    src: url("../fonts/lato/Lato-Black.woff");
}

@font-face {
    font-family: lato-bold;
    src: url("../fonts/lato/Lato-Bold.eot");
    src: url("../fonts/lato/Lato-Bold.svg");
    src: url("../fonts/lato/Lato-Bold.ttf");
    src: url("../fonts/lato/Lato-Bold.woff");
}

@font-face {
    font-family: lato-light;
    src: url("../fonts/lato/Lato-Light.eot");
    src: url("../fonts/lato/Lato-Light.svg");
    src: url("../fonts/lato/Lato-Light.ttf");
    src: url("../fonts/lato/Lato-Light.woff");
}

@font-face {
    font-family: lato-reg;
    src: url("../fonts/lato/Lato-Reg.eot");
    src: url("../fonts/lato/Lato-Reg.svg");
    src: url("../fonts/lato/Lato-Reg.ttf");
    src: url("../fonts/lato/Lato-Reg.woff");
}