@font-face {
    font-family: opensans-regular;
    src: url("../fonts/opensans/opensans-regular.eot");
    src: url("../fonts/opensans/opensans-regular.svg");
    src: url("../fonts/opensans/opensans-regular.ttf");
    src: url("../fonts/opensans/opensans-regular.woff");
}

@font-face {
    font-family: opensans-bold;
    src: url("../fonts/opensans/opensans-bold.eot");
    src: url("../fonts/opensans/opensans-bold.svg");
    src: url("../fonts/opensans/opensans-bold.ttf");
    src: url("../fonts/opensans/opensans-bold.woff");
}
